
body{
	background-color: #DFE5D5
}

.maxWidth{
	width:1003px;
	min-height: 368px;
	display:block;
	margin:10px auto;
	padding-bottom: 0;
	box-shadow:  0 0 0 21px rgba(0,0,0,0.56);
	background:#e7e7e7;
	position: relative;
}
.maxWidth > h2,
.maxWidth > h3{
	font-weight: 100;
}
hr{
	border:none;
	border-top:1px solid rgba(0,0,0,0.33);
	border-bottom:1px solid rgba(255,255,255,0.33);
	margin:5px 0;
}
hr.dotted{
	border:none;
	border-top:1px dotted rgba(0,0,0,0.33);
	border-bottom:1px dotted rgba(255,255,255,0.33);
	margin:5px 0;
}
.center{
	display: block;
	width: 800px;
	text-align: center;
	margin: 200px auto;
}
.clear{
	clear:both;
}
.left{
	display: block;
	float:left;
}
.right{
	display: block;
	float:right;
}
.cell{
	display:table-cell;
	vertical-align:text-top;	
}
h1, h2, h3, h4, h5, h6{
	text-transform:uppercase;

}
h1{font-size:36px;}
h2{font-size:24px;}
h3{font-size:20px;}
h4{font-size:18px;}
h5{font-size:14px;}
h6{font-size:12px;}
h1 img,h2 img,h3 img,h4 img,h5 img,h6 img{
	margin-right:10px;
	vertical-align:text-top;
}
p, small, span , li ,ol{	
	font-weight:100;
}
.font12{font-size:12px;}
.font13{font-size:13px;}
.font14{font-size:14px;}
.font15{font-size:15px;}
.font16{font-size:16px;}
.font18{font-size:18px;}
.font20{font-size:20px;}
.font22{font-size:22px;}
.font24{font-size:24px;}
.font28{font-size:28px;}
.font30{font-size:30px;}
.font36{font-size:36px;}
.font40{font-size:40px;}
.font48{font-size:48px;}
.font60{font-size:60px;}
.font72{font-size:72px;}
.font96{font-size:96px;}
.bold{
	font-weight: bold;
}
.italic{
	font-style: italic;
}
.undecorated{
	text-decoration: none;
}
.important{
	color:red;
}
.align-center{
	text-align: center !important;
}
.align-left{
	text-align: left !important;
}
.align-right{
	text-align: right !important;
}
.margin{
	margin: 14px;
}
.middle{
	vertical-align: middle !important;
}
.inline{
	display: inline-block !important;
}
.border{
	border-radius: 10px;
	padding:20px 10px;
	box-shadow:inset 0 0 0 1px rgba(255,255,255,0.73), 0 0 0 1px rgba(0,0,0,0.16);
	width: 952px !important;
}
.noWidth{
	width: auto !important;
	min-width:  auto !important;
	max-width:  auto !important;
}
.noBackground{
	background: none !important;
}
.red_important{
	color:#f00;
}


/*
 * LOGIN & REGISTRATION
 */
 .overlay{
 	background: rgba(0,0,0,0.9);
 	position: fixed;
 	width: 100%;
 	top: 0px;
 	bottom:0px;
 	left: 0px;
 	right: 0px;
 	z-index: 25;
 }
 .overlay * {
 	color:#fff;
 	text-shadow: 0 1px 0 #000;
 }
 .register .left-side,
 .overlay .left-side{
 	border-right:2px solid #fff;
 	text-align: right;
 	display: inline-block;
 	padding: 10px;
 	vertical-align: middle;
 }
 .register .left-side{
 	border:none;
 	width: 580px;
 }
 .register .right-side,
 .overlay .right-side{
 	text-align: left;
 	display: inline-block;
 	padding: 10px;
 	vertical-align: middle;
 }
 .register .right-side{
 	border:none;
 }

 .register .left-side h2{
 	margin: 10px 0;
 	font-weight: 100;
 	font-size: 28px;
 }
 .register .left-side p{
 	font-size: 17px;
 }
 .overlay input[type=text],
 .overlay input[type=password]{
 	width:250px;
 	height:32px;
 	line-height:32px;
 	padding: 0 10px;
 	border:2px solid #000;
 	background: #fff;
 	display: inline-block;
 	color: #000;
 	text-shadow:none;
 	margin:8px 4px;
 }
input.error{
	color:rgba(0,0,0,0.8)  !important;
 	background:#dd6666 !important;
 }
input.error:hover{
 	background:#ee8888 !important;
 }
 .register input[type=text],
 .register input[type=password]{
 	margin:8px 4px;
 }
 .overlay input[type=text]:hover,
 .overlay input[type=password]:hover,
 .overlay input[type=text]:focus,
 .overlay input[type=password]:focus{
 	background-color: #a7d5e3;
 }
 .overlay input[type=text]:active,
 .overlay input[type=password]:active{
	box-shadow: 0 0 4px rgba(255,255,255,0.2);
 }
 .overlay input[type=submit],
 .overlay input[type=button],
 .overlay input[type=reset]{
 	font-size: 16px;
	background: #22acd4;
	box-shadow: 0 1px 0 rgba(0,0,0,0.8), inset 0 -10px 0 rgba(255,255,255,0.2);
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 100%);
	padding: 0 20px;
	border:none;
	border-radius: 4px;
	outline: none;
	line-height: 32px;
	height: 32px;
	color:#000;
	text-shadow:0 1px 0 rgba(255,255,255,0.5);
 	margin:8px 4px;
 	cursor:pointer;
 	transition:0.5s all;
 }
 .overlay input[type=button],
 .overlay input[type=reset]{
	background: #8d8d8d;
 }
 .overlay input[type=submit]:hover,
 .overlay input[type=button]:hover,
 .overlay input[type=reset]:hover{
	box-shadow: 0 1px 0 rgba(0,0,0,0.8), inset 0 -25px 0 rgba(255,255,255,0.2);
 }
 .overlay input[type=submit]:active,
 .overlay input[type=button]:active,
 .overlay input[type=reset]:active{
 	transition:0.2s all;
	box-shadow: 0 1px 0 rgba(0,0,0,0.8), inset 0 -3px 0 rgba(255,255,255,0.2);
 }
 .overlay label{
 	font-size: 16px;
 }
 .register big,
 .overlay big{
 	font-size: 46px;
 	text-transform: uppercase;
 }
 .register .big{
 	font-size: 36px;
 	font-weight: 100;
 	text-transform: uppercase;
 	margin: 10px 5px;
 	display: block;
 	color: #555;
 	text-shadow: 0 -1px 0 #111;
 }
 .overlay big.login-icon{
 	background: url(../images/icons/login.png) no-repeat left center;
 	padding-left: 28px;
 }
 .register .big.register-icon{
 	background: url(../images/icons/register.png) no-repeat left center;
 	padding-left: 36px;
 }
 .overlay a{
 	font-size: 14px;
 	text-decoration: none;
 	line-height: 24px;
 }
/*	END OF LOGIN & REGISTRATION */



/*
 * FORMS
 */

 .form textarea,
 .form input[type=text],
 .form input[type=password]{
 	min-width:250px;
 	min-height:32px;
 	line-height:32px;
 	padding: 0 10px;
 	background: #fff;
 	display: inline-block;
 	color: #000;
 	text-shadow:none;
	box-shadow:inset 0 0 0 1px rgba(255,255,255,0.33), 0 0 0 1px rgba(0,0,0,0.46);
	border: none;
 }
  .form textarea:hover,
 .form input[type=text]:hover,
 .form input[type=password]:hover,
  .form textarea:focus,
 .form input[type=text]:focus,
 .form input[type=password]:focus{
 	background-color: #a7d5e3;
 }
  .form textarea:active,
 .form input[type=text]:active,
 .form input[type=password]:active{
	box-shadow:inset 0 0 0 1px rgba(255,255,255,0.33), 0 0 0 1px rgba(0,0,0,0.46), 0 0 4px 2px rgba(0,0,0,0.4);
 }

 .form textarea{
 	min-width: 946px;
 	min-height: 120px;
 }


 .form select:hover,
 .form select:focus{
 	background-color: #a7d5e3;
}
 .form select:active{
	box-shadow:inset 0 0 0 1px rgba(255,255,255,0.33), 0 0 0 1px rgba(0,0,0,0.46), 0 0 4px 2px rgba(0,0,0,0.4);
}
 .form option{
	padding:4px 15px 0px 15px;
 	line-height:32px;
 	height:32px;
}

 .form .button,
 .form input[type=submit],
 .form input[type=button],
 .form input[type=reset]{
 	display: inline-block;
 	font-size: 16px;
	background: #22acd4;
	box-shadow: 0 1px 0 rgba(0,0,0,0.8), inset 0 -10px 0 rgba(255,255,255,0.2);
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 100%);
	padding: 0 20px;
	border:none;
	border-radius: 4px;
	outline: none;
	line-height: 32px;
	height: 32px;
	color:#000;
	text-shadow:0 1px 0 rgba(255,255,255,0.5);
 	margin:8px 4px;
 	cursor:pointer;
 	text-decoration: none;
 	transition:0.5s all;
 }
 .form .button,
 .form input[type=button],
 .form input[type=reset]{
	background: #8d8d8d;
 }
 .form .button:hover,
 .form input[type=submit]:hover,
 .form input[type=button]:hover,
 .form input[type=reset]:hover{
	background: #22acd4;
	box-shadow: 0 1px 0 rgba(0,0,0,0.8), inset 0 -25px 0 rgba(255,255,255,0.2);
 }
 .form .button:focus,
 .form input[type=submit]:active,
 .form input[type=button]:active,
 .form input[type=reset]:active{
 	transition:0.2s all;
	box-shadow: 0 1px 0 rgba(0,0,0,0.8), inset 0 -3px 0 rgba(255,255,255,0.2);
 }
 .form fieldset{
 	padding: 4px;
 	border: none;
 }
 .form fieldset label{
 	width: 200px;
 	text-align: right;
 	display: inline-block;
 }







/*
 * imgAreaSelect style to be used with deprecated options
 */

.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-border1 {
	border: solid 1px #000;
}

.imgareaselect-border2 {
	border: dashed 1px #fff;
}

.imgareaselect-handle {
    background-color: #fff;
    border: solid 1px #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-outer {
    background-color: #000;
    filter: alpha(opacity=40);
    opacity: 0.4;
}

.imgareaselect-selection {
	background-color: #fff;
    filter: alpha(opacity=0);
	opacity: 0;
}
/**/




/*
 * ICONS
 */

 
 

/*
 * POPUP & ERROR MESSAGES
 */

.msg {
	display:inline-block;
	position:absolute;
	border:1px solid rgba(0,0,0,0.4);
	border-radius:4px;
	box-shadow:inset 0 1px 0 #fff, inset 0 -1px 0 rgba(0,0,0,0.1);
	padding:4px 10px 4px 10px;
	background:#ededed;
	font-size:11px;
	color:#5f5f5f;
	text-shadow:0 1px 0 rgba(255,255,255,0.8);
	margin-top: 9px;
	margin-left: 7px;
	
}
.msg:after, .msg:before{
	content:' ';
	width:0px;
	display:block;
	position:absolute;
	left:-14px;
	top: 5px;
	border-width:7px;
	border-style:solid;
	border-color: transparent #ededed transparent transparent;
}
.msg:before{
	left:-15px;
	top: 5px;
	border-color: transparent rgba(0,0,0,0.4) transparent transparent;
}

.msg .icon24{
	vertical-align:middle;
	margin:2px;
	width:23px;
	height:17px;
	display:inline-block;
}
.msg .icon24.err{
	background:url(../images/icons/msg-error.png) no-repeat;
}
.msg .icon24.ok{
	background:url(../images/icons/msg-ok.png) no-repeat;
}
/*	END OF POPUP & ERROR MESSAGES */

/*
 * POPUP & ERROR MESSAGES INPUTS
 */



/*
 * CHAT
 */

#chat_box{
	position:fixed;
	width:465px;
	border:1px solid #232323;
	background:#dfdfdf;
	padding:0;
	margin:0;
	box-shadow: inset 0 0 0 1px #fff;
	left: 220px;
	bottom: 0;
	z-index:25;
}
#chat_box .title{
	margin:0;
	padding: 10px;
height:40px;
	background:#21A6CD;
	background-image: linear-gradient(transparent,rgba(0,0,0,0.2));
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(255,255,255,1);
	box-shadow: inset 0 -1px 0 #1B596B , inset 0 0 0 1px rgba(255,255,255,0.3);
	color: #222;
	text-indent: 10px;
	font-size: 12px;
	cursor: pointer;
}
#chat_box .title .notif{
	font-size: 10px;
	background: rgba(255,100,100,1);
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border: 1px solid rgb(205,50,50);
	border-radius: 4px;
	text-align: center;
	line-height: 14px;
	padding:5px ; 
	margin-left: 10px;
}
#chat_box .title .offline,
#chat_box .title .online{
	background: url(../images/on-off-line.png) no-repeat center top;
	width: 8px;
	height: 16px;
	float: left;
}
#chat_box .title .offline{
	background: url(../images/on-off-line.png) no-repeat center bottom;
}
#chat_box .title .remove,
#chat_box .title .show,
#chat_box .title .hide{
	float: right;
	width: 10px;
	height: 10px;
	border: 1px solid #1B596B;
	border-radius: 3px;
	text-align: center;
	margin-left: 5px;
	
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
#chat_box .title .remove:hover,
#chat_box .title .show:hover,
#chat_box .title .hide:hover{
	background-color: rgba(255,255,255,0.3);
}
#chat_box .title .hide{
	background-position: center center;
}
#chat_box .title .show{
	background-position: center top;
}
#chat_box .title .remove{
	background-position: center bottom;
}
#chat_box .send_msg{
	margin:0 10px 10px 10px;
}
#chat_box .send_msg textarea{
	width:100%;
	border:1px solid #696969;
	border-radius: 0 0 4px 4px;
	max-height:200px;
	overflow:auto;
	padding: 10px;	
	resize: none;
}

#chat_box .msg_list{
	border:1px solid #696969;
	border-radius: 4px 4px 0 0;
	background:#EDEDED;
	padding: 10px 0 10px 10px;
	margin:5px 10px 2px 10px;
	height: 250px;
	min-height: 157px;
	max-height: 360px;
	overflow: auto;
}
#chat_box .msg_list.loading{
	background: url(../images/loading.gif) no-repeat center center #fff;
}
#chat_box .msg_list li{
	list-style: none;
	margin-bottom: 5px;
}
.avatar{

	background: #f9f9f9;
	border:1px solid #cdcdcd;
	border-radius:50%;
	width:35px;
	height:35px;
	margin-right:5px;
	display: inline-block;
	vertical-align: bottom;
}
.picture{

	background: #f9f9f9;
	border:1px solid #cdcdcd;
	
	width:150px;
	height:150px;
	margin-right:5px;
	display: inline-block;
	vertical-align: bottom;
}
#chat_box .msg_list .avatar{
	
	background: #f9f9f9;
	border:1px solid #cdcdcd;
	border-radius:50%;
	width:35px;
	height:35px;
	margin:0;
	display: inline-block;
	vertical-align: bottom;
}
#chat_box .msg_list .content{
	width:342px;
	padding:4px;
	border:1px solid #cdcdcd;
	margin-right:4px;
	border-radius:0 5px 5px 5px;
	padding: 5px;
	background:#f9f9f9;
	display: inline-block;
}
#chat_box .msg_list .content span{
	font-size: 11px;
	color: #666;
	border-bottom: 1px solid #dadada;
	display: block;
	line-height: 24px;
	height: 24px;
}
#chat_box .msg_list .content span b{
	font-weight: bolder;
}
#chat_box .msg_list .content p{
	padding: 5px 0;
	font-size: 13px;
}
#chat_box .msg_list a.more{
	width: 383px;
	border:1px solid #cdcdcd;
	margin:4px auto;
	border-radius:5px;
	padding: 5px;
	background:#f9f9f9;
	display: block;
	font-size: 12px;
	text-decoration: none;
	text-align: center;
}
#chat_box .msg_list a.more:hover{
	border:1px solid #cdcdcd;
	background:#ededed;
}
#chat_toggle:hover{
background-color:grey;
}
#chat_toggle{
	position: fixed;
	left: 0;
	top: 120px;
	bottom: 0;
	width: 100px;
display:block;
height:50px;
color:white;
background-color:black;
	border-right: 1px solid rgba(0,0,0,0.5);
	box-shadow: 1px 0 0 rgba(255,255,255,0.3), 2px 0 9px rgba(0,0,0,0.5);
}
#user_online{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 9999;
	width: 200px;
	border-right: 1px solid rgba(0,0,0,0.5);
	box-shadow: 1px 0 0 rgba(255,255,255,0.3), 2px 0 9px rgba(0,0,0,0.5);
}
#user_online.hide{
}
#user_online .scroll{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#user_online ul{
	padding: 0px;
	background: #fff;
	min-height: 100%;
	position: relative;
}
#user_online.loading ul{
	background: url(../images/loading.gif) no-repeat center center #fff;
}
#user_online li{
	list-style: none;
	margin:0;
	padding: 5px 10px;
	background:#cdddff;
	background-image: linear-gradient(transparent,rgba(0,0,0,0.1));
	text-shadow: 0 1px 0 rgba(255,255,255,0.4);
	border-bottom: 1px solid rgba(0,0,0,0.3);    
	border-top: 1px solid rgba(255, 255, 255, 0.9);
	color: #222;
	font-size: 16px;
	cursor: pointer;
	position: relative;
	font-family: sans-serif;

	font-weight: bold;
}
#user_online li.selected{
	background:#EEFDFF;
	border-bottom: 1px solid rgba(0,0,0,0.4);    
	border-top: 1px solid rgba(255, 255, 255, 1);
}

#user_online li .messageNbr{
	font-size: 10px;
	background: rgba(255,100,100,1);
	border: 1px solid rgb(205,50,50);
	border-radius: 4px;
	text-align: center;
	line-height: 14px;
	padding:0 5px 0 0; 
	position: absolute;
	right: 5px;
	top: 5px;
}

#user_online li .offline,
#user_online li .online{
	background: url(../images/on-off-line.png) no-repeat center top;
	width: 16px;
	height: 20px;
	float: left;
}
#user_online li .offline{
	background: url(../images/on-off-line.png) no-repeat center bottom;
}
#user_online .title{
	list-style: none;
	margin:0;
	padding: 10px 10px;
	background:#21A6CD;
	background-image: linear-gradient(transparent,rgba(0,0,0,0.2));
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(0,0,0,0.5);    
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	color: #222;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-indent: 10px;
	line-height: 16px;
	height: 40px;
}
#user_online .title .chat-icon{
	background: url(../images/chat-icon.png);
	width: 16px;
	height: 16px;
	float: left;
}
#user_online .config{
	list-style: none;
	margin:0;
	padding: 5px 0 8px 0;
	background:#616161;
	border-top: 1px solid rgba(0,0,0,0.6);    
	height: 30px;
	text-align: center;
}
#user_online .config .configuration,
#user_online .config .scrollup,
#user_online .config .scrolldown,
#user_online .config .hide{
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 1px solid rgba(0,0,0,0.6);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
	border-radius: 3px;
	margin-left: 5px;
	background-image: url(../images/box-title.png);
	background-position: center center;
	position: relative;
	cursor: pointer;
}
#user_online .config .configuration{
	background-image: url(../images/box-config.png);
	background-position: center top;
}
#user_online .config .scrolldown{
	background-image: url(../images/box-config.png);
	background-position: center center;
}
#user_online .config .scrollup{
	background-image: url(../images/box-config.png);
	background-position: center bottom;
}
#user_online .config .configuration:hover,
#user_online .config .scrollup:hover,
#user_online .config .scrolldown:hover,
#user_online .config .hide:hover{
	background-color: rgba(255,255,255,0.3);
}
#user_online .config .configuration .status{
	position: absolute;
	padding: 5px;
	background:#616161;
	border: 1px solid rgba(0,0,0,0.6);
	z-index: 5;
	top: 16px;
	left: -1px;
	display: none;
}
#user_online .config .configuration:hover .status{
	display: block;
}
#user_online .config .configuration .status a{ 
	font-size: 12px;
	line-height: 20px;
	height: 20px;
	text-decoration: none;
	padding:0 10px;
	display: block;
	position: relative;
	padding-left: 24px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
}
#user_online .config .configuration .status a:hover{ 
	background: rgba(255,255,255,0.2);
}
#user_online .config .configuration .status a.offline:before,
#user_online .config .configuration .status a.online:before{
	content: '';
	display: block;
	background: url(../images/on-off-line.png) no-repeat center top;
	width: 8px;
	height: 16px;
	position: absolute;
	left: 6px;
	top: 3px;

}
#user_online .config .configuration .status a.offline:before{
	background: url(../images/on-off-line.png) no-repeat center bottom;
}
#user_online .hide-icon{
	background: url(../images/chat-icon.png) no-repeat 5px center #21A6CD;
	font-size: 12px;
	height: 40px;
	width: 90px;
	text-decoration: none;
	position: absolute;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	border-bottom: 1px solid rgba(0,0,0,0.8);    
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	padding: 10px;
	margin-top: 50px;
	border-radius: 0 10px 10px 0;
	margin-left: 170px;
	text-indent: 16px;
	display: none;
}
#user_online .search{
	height:40px;
	background: #cdcdcd;
	position: absolute;
	bottom: 0px;
	width: 100%;
	left: 0; 
	border-top: 1px solid rgba(0,0,0,0.3);
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
#user_online .search input{
	margin: 5px;
	width: 140px;
	height: 30px;
	position: relative; 
	text-indent: 5px;
	line-height: 30px;
	font-size: 12px;
}
/*	END OF CHAT */

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #BA3D07;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}


/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */


.wrapper {
	
	display: flex;
	align-items: center;
	flex-direction: column; 
	justify-content: center;
	width: 100%;
	min-height: 100%;
	padding: 20px;
  }
  
  select , textarea , input[type=text] , input[type=password] , input[type=email], input[type=date]{
	background-color: #f6f6f6;
	border: none;
	color: #0d0d0d;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 5px;
	width: 85%;
	border: 2px solid #f6f6f6;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus {
	background-color: #fff;
	border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder {
	color: #cccccc;
  }
  
  #formContent {
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	border-top:solid 2px #BA3D07;
	background: #fff;
	padding: 30px;
	width: 90%;
	max-width: 450px;
	position: relative;
	padding: 0px;
	-webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	text-align: center;
  }
  
  #formFooter {
	background-color: #f6f6f6;
	border-top: 1px solid #dce8f1;
	padding: 25px;
	text-align: center;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
  }

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
	0% {
	  opacity: 0;
	  -webkit-transform: translate3d(-100%, 0, 0);
	  transform: translate3d(-100%, 0, 0);
	}
	100% {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
	}
  }
  
  @keyframes fadeInDown {
	0% {
	  opacity: 0;
	  -webkit-transform: translate3d(-100%, 0, 0);
	  transform: translate3d(-100%, 0, 0);
	}
	100% {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
	}
  }


  .table-fixed {
	width: 100%;
	background-color: #f3f3f3;
  }
  .table-fixed tbody {
	height: 200px;
	overflow-y: auto;
	width: 100%;
  }

.show_emoji{
 display: block ;
}
.hide_emoji{
 display: none ;
}
.emoji-mart-bar{
display: none ;
}
.emoji-mart-search{
display: none ;
}
.emoji-mart-scroll{
height:200px;
}

